/SoftProTech.CloudCam/SoftProTech.CloudCam.v12.suo
/SoftProTech.CloudCam/SoftProTech.CloudCam/bin
/SoftProTech.CloudCam/SoftProTech.CloudCam/obj
/SoftProTech.CloudCam/SoftProTech.CloudCam/SoftProTech.CloudCam.csproj.user
